<div class="mainfrm">
    <div class="layui-row  layui-col-space10" style="margin:0 10px;">
        <div class="layui-col-xs12">
            <form class="layui-form layui-form-pane" lay-filter="form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[uname]" value="{$model['uname']}" disabled autocomplete="off" placeholder="不能为空" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[nick]" value="{$model['nick']}" autocomplete="off" placeholder="不能为空" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[upass]" value="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">留空不修改</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="radio" name="form[status]" value="0" title="正常"  {if condition="($model['status'] == 0)"}checked{/if} disabled>
                        <input type="radio" name="form[status]" value="1" title="禁用" {if condition="($model['status'] == 1)"}checked{/if} disabled>
                        <input type="radio" name="form[status]" value="2" title="删除" {if condition="($model['status'] == 2)"}checked{/if} disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

