<div class="mainfrm">
    <div class="layui-row  layui-col-space10" style="margin:0 10px;">
        <div class="layui-col-xs12">
            <form class="layui-form" lay-filter="form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">角色组</label>
                    <div class="layui-input-block">
                        {volist name="roles" id="v"}
                        <input type="radio" name="form[roleid]" value="{$v['id']}" title="{$v['name']}" {if condition="( $roleid==$v['id'] )"} checked{/if}>
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

