<link href="/Public/css/blue.css" rel="stylesheet">

<script src="/Public/js/jquery-1.10.2.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/icheck.min.js"></script>
<script src="/Public/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Public/js/jquery.validate.min.js"></script>
<script src="/Public/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/Public/js/jquery.SuperSlide.2.1.1.js"></script>
<link href="/Public/css/qs.css" rel="stylesheet" />
<link href="/Public/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/css/layer.css" type="text/css" />
<script src="/Public/js/layer.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>极速交易云平台</title>
<!--[if lt IE 9]>
<script src="/Public/js/html5shiv.min.js"></script>
<script src="/Public/js/respond.js"></script>
<![endif]-->