<div class="mainfrm">
    <div class="layui-row  layui-col-space10" style="margin:0 10px;">
        <div class="layui-col-xs12">
            <form class="layui-form layui-form-pane" lay-filter="form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">节点名称</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[name]" value="" autocomplete="off" placeholder="不能为空" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">链接地址</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[url]" value="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[icon]" value="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">附加属性</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[extra]" value="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否显示</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="radio" name="form[isshow]" value="1" title="显示" checked>
                        <input type="radio" name="form[isshow]" value="0" title="隐藏" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">序号</label>
                    <div class="layui-input-inline" style="width:400px;">
                        <input type="text" name="form[sort]" value="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

